<!-- begin post -->
<div class="col-md-6 mb-30px">
    <div class="listfeaturedtag h-100">
        <div class="row h-100">
            <div class="col-12 col-md-12 col-lg-7">
                <div class="h-100 card-group">
                    <div class="card">
                        <div class="card-body">
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- Display ad -->
                            <ins class="adsbygoogle"
                                style="display:block"
                                data-ad-client="ca-pub-5956187319902735"
                                data-ad-slot="2949469494"
                                data-ad-format="auto"
                                data-full-width-responsive="true"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->