<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom {% if page.nav-short %}top-nav-short-permanent{% else %}top-nav-regular{% endif %}">

  {%- if site.title-img -%}
    <a class="navbar-brand navbar-brand-logo" href="{{ '' | absolute_url }}"><img alt="{{ site.title }} Logo" src="{{ site.title-img | relative_url}}"/></a>
  {%- elsif site.title-icon -%}
    <a class="navbar-brand" href="{{ '' | absolute_url }}"><i class="fas fa-{{site.title-icon}}"></i></a>
  {%- elsif site.title -%}
    <a class="navbar-brand" href="{{ '' | absolute_url }}">{{ site.title }}</a>
  {%- endif -%}

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
      {% if site.post_search %}
        <li class="nav-item">
          <a class="nav-link" id="nav-search-link" href="#" title="Search">
            <span id="nav-search-icon" class="fa fa-search"></span>
            <span id="nav-search-text">Search</span>
          </a>
        </li>
      {%- endif -%}
      <li class="nav-item">
        <a class="nav-link" href="/about-jason-conger">About</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="https://linkedin.com/in/JasonConger" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/JasonConger" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
      </li>
      <li class="nav-item">
          <a target="_blank" class="nav-link" href="https://github.com/JasonConger"><i class="fab fa-github fa-lg"></i> GitHub Projects</a>
      </li>
    </ul>
  </div>

  {% if site.navbar-extra %}
    {% for file in site.navbar-extra %}
      {% include {{ file }} %}
    {% endfor %}
  {% endif %}

  {% if site.avatar and page.show-avatar != false %}
    <div class="avatar-container">
      <div class="avatar-img-border">
        <a href="{{ '' | absolute_url }}">
          <img alt="Navigation bar avatar" class="avatar-img" src="{{ site.avatar | relative_url }}" />
        </a>
      </div>
    </div>
  {% endif %}

</nav>

{% include search.html %}
