<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom top-nav-regular">
  <a class="navbar-brand" href="{{ '' | absolute_url }}"><i class="fa-solid fa-house"></i></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
      {% if site.post_search %}
        <li class="nav-item">
          <a class="nav-link" id="nav-search-link" href="#" title="Search">
            <span id="nav-search-icon" class="fa-solid fa-magnifying-glass"></span>
            <span id="nav-search-text">Search</span>
          </a>
        </li>
      {%- endif -%}
      <li class="nav-item">
        <a class="nav-link" href="/about-jason-conger">About</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="https://linkedin.com/in/JasonConger" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/JasonConger" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
      </li>
      <li class="nav-item">
          <a target="_blank" class="nav-link" href="https://github.com/JasonConger"><i class="fab fa-github fa-lg"></i> GitHub Projects</a>
      </li>
    </ul>
  </div>

  <div class="avatar-container">
    <div class="avatar-img-border">
      <a href="{{ '' | absolute_url }}">
        <img alt="JasonConger.com" class="avatar-img" src="{{ '/assets/img/jcc-128.png' | relative_url }}" />
      </a>
    </div>
  </div>
</nav>

{% include search.html %}