<section id = "social-share-section">
  <span class="sr-only">Share: </span>

    <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ page.url | absolute_url | url_encode }}" class="btn btn-social-icon btn-twitter" title="Share on X (Twitter)">
      <span class="bi bi-twitter-x" aria-hidden="true"></span>
      <span class="sr-only">Twitter</span>
    </a>

    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}" class="btn btn-social-icon btn-linkedin" title="Share on LinkedIn">
      <span class="bi bi-linkedin" aria-hidden="true"></span>
      <span class="sr-only">LinkedIn</span>
    </a>

    <a href="https://www.reddit.com/submit?url={{ page.url | absolute_url | url_encode }}" class="btn btn-social-icon btn-reddit" title="Share on Reddit">
      <span class="bi bi-reddit" aria-hidden="true"></span>
      <span class="sr-only">Reddit</span>
    </a>

</section>