{% comment %}
Footer social row. Platforms come from _data/social.yml; RSS is always shown.
{% endcomment %}
<ul class="list-inline text-center footer-links">
  <li class="list-inline-item">
    <a href="{{ '/feed.xml' | relative_url }}" title="RSS">
      <i class="bi bi-rss"></i>
      <span class="sr-only">RSS</span>
    </a>
  </li>
  {% for item in site.data.social %}
  <li class="list-inline-item">
    <a href="{{ item.url }}" title="{{ item.name }}" target="_blank" rel="noopener">
      <i class="bi bi-{{ item.icon }}"></i>
      <span class="sr-only">{{ item.name }}</span>
    </a>
  </li>
  {% endfor %}
</ul>
